@model IEnumerable<HandsOnLab.ASPCoreClient.Models.Dealer>

@{
    ViewData["Title"] = "Index";
}

<h3>Dealer List</h3>
<br/>
<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DealerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DealerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DealerId" class="btn btn-warning btn-sm">Edit</a>&nbsp;
                    <a asp-action="Details" asp-route-id="@item.DealerId" class="btn btn-info btn-sm">Details</a>&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.DealerId" class="btn btn-danger btn-sm">Delete</a>&nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>
