@model IEnumerable<SampleASPMVC.Models.Car>
@{
    ViewData["Title"] = "Cars Page";
    var cars = ViewBag.Cars as List<string>;
}

<div>
    <h2>Cars Lists</h2><br />

    @Html.Raw(ViewBag.Message)
    <br />
    <a asp-action="Insert" class="btn btn-success btn-sm">Insert New Car</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Car ID</th>
                <th>Model</th>
                <th>Type</th>
                <th>Base Price</th>
                <th>Color</th>
                <th>Stock</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@car.CarID</td>
                    <td>@car.Model</td>
                    <td>@car.Type</td>
                    <td>@string.Format("{0:N0}", car.BasePrice)</td>
                    <td>@car.Color</td>
                    <td>@car.Stock</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@car.CarID" class="btn btn-warning btn-sm">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>