@model IEnumerable<SampleAspMvcEF.ViewModels.DealerCarViewModel>
@{
    ViewData["Title"] = "Cars in Dealer";
}

<div class="col-md-12">
    <h2>Cars Lists</h2><br /><br />

    @if (ViewBag.Message != null)
    {
        @Html.Raw(ViewBag.Message)
    }
    <br /><br />
    <div class="mb-3">
        <a asp-action="Create" class="btn btn-primary btn-sm">Add New</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dealer Car ID</th>
                <th>Model</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Discount Percent</th>
                <th>Fee Percent</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dealerCar in Model)
            {
                <tr>
                    <td>@dealerCar.DealerCarId</td>
                    <td>@dealerCar.Model</td>
                    <td>@dealerCar.Name</td>
                    <td class="text-end">@string.Format("{0:N0}", dealerCar.Price)</td>
                    <td class="text-end">@dealerCar.Stock</td>
                    <td class="text-end">@(dealerCar.DiscountPercent.HasValue?
                                        dealerCar.DiscountPercent.Value.ToString("N0") :
                                        "N/A") %</td>
                    <td class="text-end">@(dealerCar.FeePercent.HasValue? dealerCar.FeePercent.Value.ToString("N1") : "N/A")
                        %</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@dealerCar.DealerCarId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@dealerCar.DealerCarId"
                            class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</div>